body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  font-size: 16px !important;

  flex-direction: row;/**/
}

#body {
  flex-direction: row;
}

nav {
  display: inline-block;
  margin-block-end: 10px;
  padding-block: 5px;
  border-block: 2px solid #333;
}

nav > * {
  margin-inline: 10px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a:active {
  color: #808080;
}

a.active {
  text-decoration: underline;
}

hr {
  width: 100%;
}



div {
  display: inline-flex;
  flex-direction: column;
}

div.input {
  flex-direction: row;
}

div.box {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  margin-block: 10px;
}

div.list {
  width: 100%;
}

label.percent {
  display: flex;
  width: min-content;
  align-items: baseline;
  align-self: center;
}

label.percent > span {
  font-size: large;
}

div.input label:not(.percent) {
  width: 100%;
}

div.form-result {
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px;
}

label.percent:hover {
  cursor: pointer;
}

form {
  display: inline-flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 10px;
}

form label {
  display: flex;
  align-items: center;
  padding-bottom: 3pt;
}

form label:not(.percent) > span {
  width: 110px;
}

form label span.auto {
  width: auto;
}

form label input:not(input[type="checkbox"]) {
  display: table-cell;
  width: -webkit-fill-available;
}

form input.money-percent {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 16px;
  color: #333;
}

form button[type="submit"] {
  background-color: #eee;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
}

form button[type="submit"]:disabled {
  background-color: white;
  border-color: #ccc;
  color: #ccc;
}

form button[type="submit"]:hover:not(:disabled) {
  background-color: #ccc;
  cursor: pointer;
}

p {
  margin: 0;
  overflow-wrap: break-word;
}
