html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  font-size: 16px !important;

  flex-direction: row;/**/
  /* flex-wrap: wrap; */

  position: absolute;
  top: 0;
  bottom: 0;
  /* width: auto; */
}

#body {
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

nav {
  background-color: #eee;
  border-right: 1px solid grey;
  float: left;
  width: max-content;
}

nav > * {
  margin-inline: 10px;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

li {
  display: block;
}

a:active {
  color: #808080;
}

a:not(.active) {
  color: #333;
}

a.active {
  text-decoration: underline;
}

hr {
  width: 100%;
}



div {
  display: inline-flex;
  flex-direction: column;
}

div.input {
  flex-direction: row;
}

div.box {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  margin-block: 10px;
}

div.list {
  width: 100%;
}

label.percent {
  display: flex;
  width: min-content;
  align-items: baseline;
  align-self: center;
}

label.percent > span {
  font-size: large;
}

div.input label:not(.percent) {
  width: 100%;
}

div.form-result {
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
  margin: 10px;
}

.percent:hover {
  cursor: pointer;
}

form {
  display: inline-flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 1em;
}

form label {
  display: flex;
  align-items: center;
  padding-bottom: 3pt;
}

form label:not(.percent) > span {
  width: 110px;
}

form label span.auto {
  width: auto;
}

form label input:not(input[type="checkbox"]) {
  display: table-cell;
  width: -webkit-fill-available;
}

input.money-percent {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 8px;
  margin-top: 2px;
  font-size: 16px;
  color: #333;
}

input.money-percent:hover {
  border-color: black;
}

table input.money-percent {
  border-color: transparent;
  background-color: transparent;
}

form button[type="submit"] {
  background-color: #eee;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
}

form button[type="submit"]:disabled {
  background-color: white;
  border-color: #ccc;
  color: #ccc;
}

form button[type="submit"]:hover:not(:disabled) {
  background-color: #ccc;
  cursor: pointer;
}

p {
  margin: 0;
  overflow-wrap: break-word;
}

table {
  height: fit-content;
  border-collapse: separate;
  border-spacing: 0 0;
  width: 100%;
}

thead {
  border-bottom: 3px solid black;
}

td, th {
  border: 1px solid black;
}

tr {
  background-color: white;
}

.table-separator::before {
  line-height: 1em;
  content: ".";
  color: transparent;
  display: block;
}

td.classe-taxa {
  padding: 0;
}

td.classe-taxa tr td {
  border: none;
}

tr.classe td {
  vertical-align: top;
}

th.large {
  width: 20%;
  min-width: 85px;
}

th.medium {
  width: 10%;
  min-width: 85px;
}

th.small {
  width: 1%;
}

th,
td {
  width: auto;
}

table input:not([type=checkbox]) {
  width: 100%;
}

tr.collapsed {
  display: none;
}

tr div {
  flex-direction: row;
  gap: 5px;
}

button.circle {
  border-radius: 50%;
  padding: 1px;
  width: 22px;
  height: 22px;
}

button.circle:hover {
  cursor: pointer;
}